<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studentGrade.mapper.TeacherMapper">
    <insert id="add">
        insert into teacher value(null,#{no},#{name},#{phone});
    </insert>
    <update id="update">
        update teacher set no=#{no},name=#{name},phone=#{phone} where id=#{id}
    </update>

    <select id="listTeacher" resultType="com.studentGrade.entity.Teacher">
        select * from teacher
        <where>
            <if test="no!=null and no!=''">
                no=#{no}
            </if>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>